.btn {
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  padding: 24px 42px;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-family: $ff-roboto;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.6px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  @include hover-focus {
    opacity: 0.8;
  }

  &--empty {
    padding: 21px 22px 18px;

    color: $color-default-white;

    outline: 4px solid $color-default-white;

    @include hover-focus {
      color: $color-egyptian-blue;

      background-color: $color-default-white;
    }

    @include focus {
      color: $color-sapphire;
    }

    @include active {
      color: $color-sapphire;

      background-color: $color-default-white;
    }
  }

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
