.form-contacts {
  border-top: 1px solid $color-sapphire;
  background: linear-gradient(to right, $color-sapphire 50%, $color-default-white 50%);

  @include vp-1199 {
    background: linear-gradient(to bottom, $color-sapphire 324px, $color-default-white 324px);
  }
}

.form-contacts__wrapper {
  margin: 0 auto;
  display: flex;
  max-width: 1366px;
  width: 100%;

  @include vp-1199 {
    flex-direction: column;
  }
}