.header {
  padding-top: 30px;

  @include vp-1199 {
    padding-top: 40px;
  }

  @include vp-767 {
    padding-top: 15px;
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  gap: 10px 30px;
}

//.header__logo {
//padding-top: 3px;
//}

.header__tel-link {
  font-weight: 600;
  font-size: 26px;
  font-family: $ff-alumni;
  color: $color-default-white;
  letter-spacing: 0.78px;

  @include vp-1199 {
    font-weight: 700;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 0.48px;
  }

  @include vp-767 {
    font-weight: 600;
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0.4px;
  }
}
