.subscription {
  position: relative;

  background-color: $color-ghost-white;
}

.subscription__wrapper {
  z-index: 1;

  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 126px 20px 120px;

  @include vp-1199 {
    padding: 104px 163px 100px;

    &::after {
      bottom: -100px;

      width: 348px;
      height: 395px;

      background-image: image-set(url("../img/subscription/pancakes-tablet.webp") type("image/webp"),
          url("../img/subscription/pancakes-tablet.png") type("image/png"));
    }

    @media (min-resolution: $retina-dppx) {
      &::after {
        background-image: image-set(url("../img/subscription/pancakes-tablet@2x.png") type("image/png"),
            url("../img/subscription/pancakes-tablet@2x.webp") type("image/webp"));
        background-size: cover;
      }
    }
  }

  @include vp-767 {
    padding: 66px 15px 70px;

    &::after {
      content: none;

      background: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -95px;
    z-index: 0;

    width: 321px;
    height: 384px;

    background-image: image-set(url("../img/subscription/pancakes.webp") type("image/webp"),
        url("../img/subscription/pancakes.png") type("image/png"));
    background-repeat: no-repeat;
    background-position: right;
  }

  @media (min-resolution: $retina-dppx) and (min-width: $vp-1200) {
    &::after {
      width: 286px;

      background-image: image-set(url("../img/subscription/pancakes@2x.png") type("image/png"),
          url("../img/subscription/pancakes@2x.webp") type("image/webp"));
      background-size: cover;
    }
  }
}

.subscription__tabs {
  @media (min-width: $vp-1200) {
    width: 1160px;
    margin: 0 auto;
  }
}

.subscription__wrapper h3 {
  margin: 0 0 22px;

  font-weight: 600;
  font-size: 54px;
  line-height: 54px;
  font-family: $ff-alumni;
  text-align: center;
  color: $color-sapphire;
  letter-spacing: 0.1rem;

  @include vp-1199 {
    margin-bottom: 24px;

    font-size: 42px;
    line-height: 42px;
    letter-spacing: 0.08rem;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.06rem;
  }
}

.subscription__controls {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 49px;

  column-gap: 36px;

  @include vp-1199 {
    margin-bottom: 56px;

    column-gap: 44px;
  }

  @include vp-767 {
    margin-bottom: 49px;

    &::after {
      bottom: -15px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 50%;

    width: 341px;
    height: 2px;

    background-color: rgba(120, 120, 120, 0.2);
    transform: translate(-50%, 0);
  }
}

.subscription__control {
  position: relative;

  font-size: 20px;
  line-height: 150%;
  color: rgba(16, 38, 84, 0.5);

  background-color: transparent;
  border: none;

  @include hover-focus {
    color: $color-sapphire;

    @include vp-767 {
      &::after {
        bottom: -14px;
        left: -2px;

        width: calc(100% + 8px);
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -11px;
      left: 7px;

      width: calc(100% - 12px);
      height: 2px;

      background-color: #d10a42;
    }
  }

  @include active {
    color: $color-sapphire;

    @include vp-767 {
      &::after {
        bottom: -14px;
        left: -2px;

        width: calc(100% + 8px);
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -11px;
      left: 5px;

      width: calc(100% - 12px);
      height: 2px;

      background-color: #d10a42;
    }
  }

  @include vp-1199 {
    font-size: 18px;
  }

  @include vp-767 {
    padding: 0;

    font-size: 16px;
  }

  &:disabled {
    opacity: 0.3;

    pointer-events: none;

    &::after {
      content: none;
    }
  }
}

.subscription__control.is-active {
  color: $color-sapphire;

  @include vp-767 {
    &::after {
      bottom: -15px;
      left: -2px;

      width: calc(100% + 8px);
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 7px;

    width: calc(100% - 12px);
    height: 2px;

    background-color: #d10a42;
  }
}

.subscription__content {
  @include vp-1199 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.subscription__element {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 40px;

  @include vp-1199 {
    flex-direction: column;
  }

  @include vp-767 {
    gap: 34px;
  }
}

.subscription__element-wrapper {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  padding: 64px 75px 68px;

  background-color: $color-default-white;

  @include vp-1199 {
    width: 442px;
    padding: 64px 77px 68px;

    &:hover,
    &:focus-visible {
      padding: 57px 70px 61px;

      border: 7px solid;
      border-image: $color-button-gradient;
      border-image-slice: 1;
    }
  }

  @include vp-767 {
    width: 100%;
    padding: 46px 40px 55px;

    &:hover,
    &:focus-visible {
      padding: 39px 33px 48px;
    }
  }

  &:hover {
    padding: 57px 70px;

    border: 7px solid;
    border-image: $color-button-gradient;
    border-image-slice: 1;
  }
}

.subscription h4 {
  margin: 0 0 12px;

  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  color: $color-sapphire;

  @include vp-1199 {
    font-size: 26px;
    line-height: 26px;
  }

  @include vp-767 {
    margin-bottom: 6px;

    font-size: 22px;
    line-height: 32px;
  }
}

.subscription__element-wrapper>span {
  display: block;
  margin: 0 0 37px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #495a7d;

  @include vp-767 {
    margin-bottom: 32px;
  }
}

.subscription__price-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 49px;

  @include vp-767 {
    margin-bottom: 41px;
  }
}

.subscription__price-wrapper span {
  position: relative;
  top: 0;
  left: 50%;
  z-index: -1;

  width: auto;
  height: auto;
  margin-bottom: -56px;

  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: #e8e8e8;

  transform: translate(-50%);

  @include vp-767 {
    margin-bottom: -45px;

    font-size: 80px;
    line-height: 80px;
  }
}

.subscription__price-wrapper p {
  position: relative;
  z-index: 1;

  margin: 0;
  padding-right: 44px;

  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  color: $color-egyptian-blue;

  @include vp-767 {
    padding-right: 35px;

    font-size: 48px;
    line-height: 48px;

    &::after {
      right: 15px;

      width: 30px;
      height: 36px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    right: 18px;

    width: 38px;
    height: 46px;

    background: url("../img/sprite/rubble.svg") no-repeat;
    background-size: cover;
  }
}

.subscription__btn {
  width: 206px;
  padding: 24px;

  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $color-sapphire;
  text-transform: uppercase;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  border: 2px solid $color-sapphire;

  @include vp-767 {
    padding: 25px;

    &:hover,
    &:focus-visible {
      padding: 27px;
    }
  }

  &:hover,
  &:focus-visible {
    padding: 26px;

    color: $color-default-white;

    background: linear-gradient(to right, #ed0233, #003eb7);
    border: none;
    outline: none;
  }

  &:active {
    color: rgba(255, 255, 255, 0.7);
  }
}